@charset "UTF-8";
@font-face {
  font-family: "Roboto-bold";
  src: url("../fonts/roboto/Roboto-Bold.woff2") format("woff2"), url("../fonts/roboto/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto-italic";
  src: url("../fonts/roboto/Roboto-Italic.woff2") format("woff2"), url("../fonts/roboto/Roboto-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto-medium";
  src: url("../fonts/roboto/Roboto-Medium.woff2") format("woff2"), url("../fonts/roboto/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto-light";
  src: url("../fonts/roboto/Roboto-Light.woff2") format("woff2"), url("../fonts/roboto/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto-regular";
  src: url("../fonts/roboto/Roboto-Regular.woff2") format("woff2"), url("../fonts/roboto/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto-thin";
  src: url("../fonts/roboto/Roboto-Thin.woff2") format("woff2"), url("../fonts/roboto/Roboto-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon/icomoon.eot?florr5");
  src: url("../fonts/icomoon/icomoon.eot?florr5#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?florr5") format("truetype"), url("../fonts/icomoon/icomoon.woff?florr5") format("woff"), url("../fonts/icomoon/icomoon.svg?florr5#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pencil:before {
  content: "\e905";
}

.icon-pencil2:before {
  content: "\e906";
}

.icon-quill:before {
  content: "\e907";
}

.icon-undo:before {
  content: "\e965";
}

.icon-redo:before {
  content: "\e966";
}

.icon-forward:before {
  content: "\e969";
}

.icon-reply:before {
  content: "\e96a";
}

.icon-user-plus:before {
  content: "\e973";
}

.icon-search:before {
  content: "\e986";
}

.icon-lock:before {
  content: "\e98f";
}

.icon-unlocked:before {
  content: "\e990";
}

.icon-bin:before {
  content: "\e9ac";
}

.icon-enter:before {
  content: "\ea13";
}

.icon-exit:before {
  content: "\ea14";
}

.icon-arrow-right2:before {
  content: "\ea3c";
}

.icon-arrow-left2:before {
  content: "\ea40";
}

.icon-circle-up:before {
  content: "\ea41";
}

.icon-circle-right:before {
  content: "\ea42";
}

.icon-circle-down:before {
  content: "\ea43";
}

.icon-circle-left:before {
  content: "\ea44";
}

.icon-font:before {
  content: "\ea5c";
}

:root {
  --font-regular: "Roboto-regular",sans-serif;
  --font-bold: "Roboto-bold",sans-serif;
  --color-second: rgb(23, 111, 133);
  --color-btn: #f8f8f8;
  --color-sticker: #f8f8f856;
  --color-border: #bdfafa;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

html {
  font-size: 16px;
  font-family: "Roboto-regular", sans-serif;
}

.wrapper {
  position: relative;
  min-height: 100%;
  overflow: hidden;
}

.container {
  margin: 0 auto;
  max-width: 1140px;
  padding: 0 10px;
}

body {
  min-width: 320px;
  background: #f1f1f1;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}
*:after, *:before {
  box-sizing: inherit;
}

hr {
  color: #20b0d4;
}

a {
  text-decoration: none;
}

.header {
  transition: 0.6s;
  width: 100%;
}
.header--hide {
  transform: translateY(-110px);
  height: 40px;
}
.header__container {
  position: relative;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 5px 22px 5px 5px;
  -webkit-box-shadow: 6px 1px 11px 8px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 6px 1px 11px 8px rgba(0, 0, 0, 0.2);
  box-shadow: 6px 1px 11px 8px rgba(0, 0, 0, 0.2);
}
.header__logo {
  width: 90px;
  height: 90px;
  margin: 0 5px;
}
.header__img {
  width: 100%;
  height: 100%;
}
.header__wrapper {
  display: flex;
  align-items: center;
}
.header__form-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}
.header__form {
  width: 90%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header__wrap {
  position: relative;
  display: none;
  align-items: center;
  background: var(--color-btn);
  justify-content: space-between;
  border: 4px solid #f8f8f8;
  border-radius: 5px;
  height: 50px;
  width: 90%;
  -webkit-box-shadow: -7px 16px 15px -18px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: -7px 16px 15px -18px rgba(0, 0, 0, 0.21);
  box-shadow: -7px 16px 15px -18px rgba(0, 0, 0, 0.21);
}
@media screen and (min-width: 728px) {
  .header__wrap {
    display: flex;
  }
}
.header__searchbar {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  top: 48px;
  left: 0;
  right: 0;
  z-index: 2;
  margin: 0 auto;
  width: 100%;
  min-height: 0;
  background: var(--color-btn);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 4px solid rgba(27, 255, 255, 0.267);
  border-top: none;
  transition: 0.6s;
}
.header__searchbar--active {
  max-height: 600px;
  overflow-y: scroll;
  opacity: 90%;
  visibility: visible;
}
.header__searchbar-list {
  list-style-type: trad-chinese-formal;
  color: #888;
  width: 100%;
  height: 100%;
}
.header__searchbar-link {
  font-family: var(--font-regular);
  color: var(--color-second);
  margin: 3px 0;
}
.header__searchbar-link:hover {
  color: #888;
}
.header__btn {
  height: 42px;
  border: none;
  font-family: var(--font-bold);
  color: var(--color-second);
  background: #f8f8f8;
  cursor: pointer;
}
.header__btn--search {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  cursor: default;
}
.header__btn--round {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  padding: 7px;
  border: none;
  font-family: var(--font-bold);
  background: #f8f8f8;
  margin: 0 5px;
  -webkit-box-shadow: -7px 16px 15px -18px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: -7px 16px 15px -18px rgba(0, 0, 0, 0.21);
  box-shadow: -7px 16px 15px -18px rgba(0, 0, 0, 0.21);
}
.header__btn--round:disabled {
  background: #ebebeb;
  color: #7a7a7a;
  cursor: not-allowed;
}
.header__input {
  width: 90%;
  height: 100%;
  border: none;
  font-family: var(--font-regular);
  font-size: 14px;
  color: var(--color-second);
  padding: 2px 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background: var(--color-btn);
}
.header__scroll {
  display: block;
  margin: 0 auto;
  background: var(--color-sticker);
  border: none;
  padding: 15px 60px;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
  color: var(--color-second);
  font-family: var(--font-regular);
  text-shadow: 4px 4px 7px #ffffff9c;
  cursor: pointer;
}
.header__burger {
  margin-right: 20px;
}
.header__box {
  position: absolute;
  bottom: -18px;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  border: 5px solid #fff;
  background: #fff;
  text-align: center;
  background: #C6EDED98;
  transform: rotate(45deg);
}
.header__icon {
  display: inline;
  padding-left: 7px;
  font-size: 20px;
  color: #fff;
  transform: rotate(-45deg);
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover {
  opacity: 0.7;
}
.hamburger.is-active:hover {
  opacity: 0.7;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #176f85;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #176f85;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}

/*
 * Emphatic
 */
.hamburger--emphatic {
  overflow: hidden;
}
.hamburger--emphatic .hamburger-inner {
  transition: background-color 0.125s 0.175s ease-in;
}
.hamburger--emphatic .hamburger-inner::before {
  left: 0;
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, left 0.125s 0.175s ease-in;
}
.hamburger--emphatic .hamburger-inner::after {
  top: 10px;
  right: 0;
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, right 0.125s 0.175s ease-in;
}
.hamburger--emphatic.is-active .hamburger-inner {
  transition-delay: 0s;
  transition-timing-function: ease-out;
  background-color: transparent !important;
}
.hamburger--emphatic.is-active .hamburger-inner::before {
  left: -80px;
  top: -80px;
  transform: translate3d(80px, 80px, 0) rotate(45deg);
  transition: left 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.hamburger--emphatic.is-active .hamburger-inner::after {
  right: -80px;
  top: -80px;
  transform: translate3d(-80px, 80px, 0) rotate(-45deg);
  transition: right 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.blog {
  position: relative;
  min-height: 100vh;
  width: 100%;
  padding: 20px 10px 0 10px;
}
@media screen and (min-width: 928px) {
  .blog {
    padding: 20px 0 0 0;
  }
}
.blog__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 5px;
  margin: 10px 0;
}
.blog__del {
  border: none;
  background: transparent;
  color: #bfbfbf;
  font-family: var(--font-bold);
}
.blog__del:hover {
  color: #fc0013;
  cursor: pointer;
}
.blog__overlay {
  position: absolute;
  top: -200px;
  left: 0;
  width: 100%;
  min-height: 540vh;
  background: #000000a6;
  transition: 0.6s;
  opacity: 0;
  visibility: hidden;
}
.blog__overlay--active {
  opacity: 100%;
  visibility: visible;
  z-index: 2;
}
.blog__sidebar {
  position: fixed;
  top: 5%;
  left: 0;
  width: 75%;
  height: 580px;
  background: var(--color-btn);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border: 5px solid rgba(27, 255, 255, 0.267);
  border-left: none;
  padding: 5px;
  transition: all 0.6s;
  transform: translateX(-98%);
}
@media screen and (min-width: 928px) {
  .blog__sidebar {
    width: 30%;
  }
}
.blog__sidebar--active {
  transform: translateX(0);
  z-index: 3;
}
.blog__note {
  position: absolute;
  padding: 10px;
  top: 100px;
  left: 0;
  width: 100%;
  height: 400px;
  overflow-y: scroll;
}
.blog__list {
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
.blog__posts {
  padding-top: 20px;
}
.blog__post {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 95%;
  border-radius: 8px;
  -webkit-box-shadow: 2px 1px 11px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 1px 11px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 1px 11px 1px rgba(0, 0, 0, 0.2);
  min-height: 300px;
  margin: 0 10px;
  margin-bottom: 80px;
}
@media screen and (min-width: 598px) {
  .blog__post {
    flex: 1 1 43%;
  }
}
@media screen and (min-width: 928px) {
  .blog__post {
    flex: 0 1 23%;
  }
}
.blog__head {
  position: absolute;
  top: -50px;
  left: 0;
  right: 0;
  margin: 0 auto;
  overflow: hidden;
}
.blog__pin {
  margin: 0 auto;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.blog__category {
  font-family: var(--font-bold);
  font-size: 12px;
  padding: 4px;
  text-align: center;
  height: 38px;
  overflow: hidden;
  width: 90%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin: 0 auto;
  color: var(--color-second);
  background: #e2dede;
}
.blog__info {
  text-align: left;
  width: 90%;
  margin: 0 auto;
}
.blog__wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  width: 90%;
  background: #f1f1f1;
  margin: 0 auto;
}
.blog__text {
  font-family: var(--font-regular);
  font-size: 14px;
  color: #585858;
  max-height: 250px;
  max-width: 240px;
  overflow: hidden;
}
.blog__sticky {
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
  background: #e2dede;
  padding: 5px;
  color: #00000000;
}
.blog__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-bold);
  font-size: 14px;
  background: #f1f1f1;
  color: #4e4e4e93;
  border: none;
  cursor: pointer;
}
.blog__link {
  text-decoration: none;
}
.blog__row {
  margin-top: 10px;
  position: relative;
  height: 30px;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.blog__row::before {
  position: absolute;
  content: "";
  bottom: -25px;
  left: 0;
  right: 0;
  height: 2px;
  margin: 0 auto;
  border-radius: 10px;
  background: var(--color-border);
  width: 60%;
}
.blog__row::after {
  position: absolute;
  content: "";
  top: 35px;
  left: 0;
  right: 0;
  height: 2px;
  margin: 0 auto;
  border-radius: 10px;
  background: var(--color-border);
  width: 80%;
}
.blog__input {
  border: none;
  color: #555;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-right: 5px;
  width: 70%;
}
.blog__search_btn {
  border: none;
  width: 90%;
  height: 30px;
  margin: 0 auto;
  border-radius: 5px;
  cursor: pointer;
}
.blog__btn {
  color: var(--color-second);
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-family: var(--font-bold);
  font-size: 12px;
  margin-left: 3px;
  padding: 5px;
}
.blog__cat {
  cursor: pointer;
  color: #555;
  margin: 5px 0;
  background: #fff;
  width: 80%;
  border-left: 2px solid var(--color-second);
  padding: 5px 10px;
  font-family: var(--font-regular);
  font-size: 16px;
  padding-right: 10px;
}
.blog__cat:hover {
  color: var(--color-second);
}
.blog__cat--hide {
  display: none;
}
.blog__count {
  font-family: var(--font-regular);
  color: #888;
}
.blog__arrow {
  display: block;
  border: none;
  cursor: pointer;
  padding: 15px 8px;
  padding-top: 17px;
  color: var(--color-second);
  background: #fff;
}
.blog__arrow--left {
  position: fixed;
  z-index: 1;
  top: 50vh;
  left: 5px;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  -webkit-box-shadow: 2px 0px 9px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 2px 0px 9px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 0px 9px 2px rgba(0, 0, 0, 0.1);
}
@media screen and (min-width: 1200px) {
  .blog__arrow--left {
    left: 12px;
  }
}
.blog__arrow--right {
  position: fixed;
  top: 50vh;
  right: 5px;
  z-index: 1;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  -webkit-box-shadow: 2px 0px 9px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 2px 0px 9px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 0px 9px 2px rgba(0, 0, 0, 0.1);
}
@media screen and (min-width: 1200px) {
  .blog__arrow--right {
    right: 12px;
  }
}
.blog__auth {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 25px;
  padding: 5px 10px;
}
.blog__quad {
  width: 15px;
  height: 15px;
  border-radius: 3px;
  border: 5px solid var(--color-border);
  background: red;
  transform: rotate(45deg);
  margin-right: 20px;
}
.blog__quad--active {
  background: #07F70AFF;
}
.blog__name {
  font-size: 16px;
  font-family: var(--font-bold);
  color: var(--color-second);
}
.blog__pagination {
  display: flex;
  margin: 20px 0;
  padding: 0;
  height: 70px;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
  max-width: 392px;
  overflow: hidden;
  font-family: var(--font-regular);
}
.blog__pagination-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 25px;
  background: #fff;
  color: #888;
  border: none;
  margin: 5px;
}
.blog__pagination-btn--active {
  color: var(--color-second);
  width: 50px;
  height: 50px;
  -webkit-box-shadow: 2px 0px 9px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 2px 0px 9px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 0px 9px 2px rgba(0, 0, 0, 0.1);
}
.blog__pagination li {
  margin: 0 2px;
}
.blog img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  text-align: center;
}

.container__pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin-bottom: 30px;
}

.modal__overlay {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00000086;
  transition: 0.6s;
  visibility: hidden;
  opacity: 0;
}
.modal__overlay--active {
  visibility: visible;
  opacity: 100%;
}
.modal__window {
  padding: 15px;
  position: absolute;
  top: 100px;
  z-index: 2;
  left: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  margin: 0 auto;
  width: 90%;
  height: 230px;
  border: 5px solid rgba(27, 255, 255, 0.267);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top: none;
  background: var(--color-btn);
  transition: 1s;
}
@media screen and (min-width: 928px) {
  .modal__window {
    left: unset;
    right: 10%;
    width: 60%;
  }
}
.modal__window--active {
  opacity: 100%;
  visibility: visible;
}
.modal__title {
  margin: 10px 0;
  font-family: var(--font-regular);
  font-size: 16px;
  color: var(--color-second);
}
.modal__input {
  width: 100%;
  height: 30px;
  border: none;
  border-radius: 5px;
  background: #fff;
  font-family: var(--font-regular);
  color: #666;
}
.modal__area {
  width: 100%;
  height: 100px;
  font-family: var(--font-regular);
  color: #666;
}
.modal__btn {
  font-family: var(--font-regular);
  color: var(--color-second);
  font-size: 14px;
  border: none;
  border-radius: 10px;
  margin-top: 5px;
  padding: 10px;
  cursor: pointer;
}
.modal__btn--show {
  padding: 0 5px;
  border-radius: 5px;
  font-size: 22px;
  margin: 0 10px;
}
.modal__btn--create {
  margin: 0 10px;
}
.modal__row {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
}
.modal__bar {
  opacity: 0;
  overflow: hidden;
  visibility: hidden;
  transition: 0.6s;
}
.modal__bar--active {
  visibility: visible;
  opacity: 100%;
  overflow: visible;
}
.modal__select {
  border: none;
  border-radius: 5px;
  height: 24px;
  padding: 2px;
  color: #666666;
}
.modal__new-category {
  border: none;
  border-radius: 5px;
  padding: 2px;
  height: 26px;
  color: #666666;
}

.footer {
  display: flex;
  justify-content: center;
  position: relative;
  height: 40px;
  width: 100%;
}
.footer::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 60%;
  height: 2px;
  border-radius: 15px;
  background: #777;
}
.footer__text {
  font-family: var(--font-bold);
  font-size: 14px;
  color: var(--color-second);
}

/*!
 * Quill Editor v1.3.6
 * https://quilljs.com/
 * Copyright (c) 2014, Jason Chen
 * Copyright (c) 2013, salesforce.com
 */
.ql-container {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  height: 100%;
  margin: 0px;
  position: relative;
}
.ql-container.ql-disabled .ql-tooltip {
  visibility: hidden;
}
.ql-container.ql-disabled .ql-editor ul[data-checked] > li::before {
  pointer-events: none;
}

.ql-clipboard {
  left: -100000px;
  height: 1px;
  overflow-y: hidden;
  position: absolute;
  top: 50%;
}
.ql-clipboard p {
  margin: 0;
  padding: 0;
}

.ql-editor {
  box-sizing: border-box;
  line-height: 1.42;
  height: 100%;
  outline: none;
  overflow-y: auto;
  padding: 12px 15px;
  tab-size: 4;
  -moz-tab-size: 4;
  text-align: left;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.ql-editor > * {
  cursor: text;
}
.ql-editor p, .ql-editor ol, .ql-editor ul, .ql-editor pre, .ql-editor blockquote, .ql-editor h1, .ql-editor h2, .ql-editor h3, .ql-editor h4, .ql-editor h5, .ql-editor h6 {
  margin: 0;
  padding: 0;
  counter-reset: list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
}
.ql-editor ol, .ql-editor ul {
  padding-left: 1.5em;
}
.ql-editor ol > li {
  list-style-type: none;
}
.ql-editor ul > li {
  list-style-type: none;
}
.ql-editor ul > li::before {
  content: "•";
}
.ql-editor ul[data-checked=true], .ql-editor ul[data-checked=false] {
  pointer-events: none;
}
.ql-editor ul[data-checked=true] > li *, .ql-editor ul[data-checked=false] > li * {
  pointer-events: all;
}
.ql-editor ul[data-checked=true] > li::before, .ql-editor ul[data-checked=false] > li::before {
  color: #777;
  cursor: pointer;
  pointer-events: all;
}
.ql-editor ul[data-checked=true] > li::before {
  content: "☑";
}
.ql-editor ul[data-checked=false] > li::before {
  content: "☐";
}
.ql-editor li::before {
  display: inline-block;
  white-space: nowrap;
  width: 1.2em;
}
.ql-editor li:not(.ql-direction-rtl)::before {
  margin-left: -1.5em;
  margin-right: 0.3em;
  text-align: right;
}
.ql-editor li.ql-direction-rtl::before {
  margin-left: 0.3em;
  margin-right: -1.5em;
}
.ql-editor ol li:not(.ql-direction-rtl), .ql-editor ul li:not(.ql-direction-rtl) {
  padding-left: 1.5em;
}
.ql-editor ol li.ql-direction-rtl, .ql-editor ul li.ql-direction-rtl {
  padding-right: 1.5em;
}
.ql-editor ol li {
  counter-reset: list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
  counter-increment: list-0;
}
.ql-editor ol li:before {
  content: counter(list-0, decimal) ". ";
}
.ql-editor ol li.ql-indent-1 {
  counter-increment: list-1;
  counter-reset: list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
}
.ql-editor ol li.ql-indent-1:before {
  content: counter(list-1, lower-alpha) ". ";
}
.ql-editor ol li.ql-indent-2 {
  counter-increment: list-2;
  counter-reset: list-3 list-4 list-5 list-6 list-7 list-8 list-9;
}
.ql-editor ol li.ql-indent-2:before {
  content: counter(list-2, lower-roman) ". ";
}
.ql-editor ol li.ql-indent-3 {
  counter-increment: list-3;
  counter-reset: list-4 list-5 list-6 list-7 list-8 list-9;
}
.ql-editor ol li.ql-indent-3:before {
  content: counter(list-3, decimal) ". ";
}
.ql-editor ol li.ql-indent-4 {
  counter-increment: list-4;
  counter-reset: list-5 list-6 list-7 list-8 list-9;
}
.ql-editor ol li.ql-indent-4:before {
  content: counter(list-4, lower-alpha) ". ";
}
.ql-editor ol li.ql-indent-5 {
  counter-increment: list-5;
  counter-reset: list-6 list-7 list-8 list-9;
}
.ql-editor ol li.ql-indent-5:before {
  content: counter(list-5, lower-roman) ". ";
}
.ql-editor ol li.ql-indent-6 {
  counter-increment: list-6;
  counter-reset: list-7 list-8 list-9;
}
.ql-editor ol li.ql-indent-6:before {
  content: counter(list-6, decimal) ". ";
}
.ql-editor ol li.ql-indent-7 {
  counter-increment: list-7;
  counter-reset: list-8 list-9;
}
.ql-editor ol li.ql-indent-7:before {
  content: counter(list-7, lower-alpha) ". ";
}
.ql-editor ol li.ql-indent-8 {
  counter-increment: list-8;
  counter-reset: list-9;
}
.ql-editor ol li.ql-indent-8:before {
  content: counter(list-8, lower-roman) ". ";
}
.ql-editor ol li.ql-indent-9 {
  counter-increment: list-9;
}
.ql-editor ol li.ql-indent-9:before {
  content: counter(list-9, decimal) ". ";
}
.ql-editor .ql-indent-1:not(.ql-direction-rtl) {
  padding-left: 3em;
}
.ql-editor li.ql-indent-1:not(.ql-direction-rtl) {
  padding-left: 4.5em;
}
.ql-editor .ql-indent-1.ql-direction-rtl.ql-align-right {
  padding-right: 3em;
}
.ql-editor li.ql-indent-1.ql-direction-rtl.ql-align-right {
  padding-right: 4.5em;
}
.ql-editor .ql-indent-2:not(.ql-direction-rtl) {
  padding-left: 6em;
}
.ql-editor li.ql-indent-2:not(.ql-direction-rtl) {
  padding-left: 7.5em;
}
.ql-editor .ql-indent-2.ql-direction-rtl.ql-align-right {
  padding-right: 6em;
}
.ql-editor li.ql-indent-2.ql-direction-rtl.ql-align-right {
  padding-right: 7.5em;
}
.ql-editor .ql-indent-3:not(.ql-direction-rtl) {
  padding-left: 9em;
}
.ql-editor li.ql-indent-3:not(.ql-direction-rtl) {
  padding-left: 10.5em;
}
.ql-editor .ql-indent-3.ql-direction-rtl.ql-align-right {
  padding-right: 9em;
}
.ql-editor li.ql-indent-3.ql-direction-rtl.ql-align-right {
  padding-right: 10.5em;
}
.ql-editor .ql-indent-4:not(.ql-direction-rtl) {
  padding-left: 12em;
}
.ql-editor li.ql-indent-4:not(.ql-direction-rtl) {
  padding-left: 13.5em;
}
.ql-editor .ql-indent-4.ql-direction-rtl.ql-align-right {
  padding-right: 12em;
}
.ql-editor li.ql-indent-4.ql-direction-rtl.ql-align-right {
  padding-right: 13.5em;
}
.ql-editor .ql-indent-5:not(.ql-direction-rtl) {
  padding-left: 15em;
}
.ql-editor li.ql-indent-5:not(.ql-direction-rtl) {
  padding-left: 16.5em;
}
.ql-editor .ql-indent-5.ql-direction-rtl.ql-align-right {
  padding-right: 15em;
}
.ql-editor li.ql-indent-5.ql-direction-rtl.ql-align-right {
  padding-right: 16.5em;
}
.ql-editor .ql-indent-6:not(.ql-direction-rtl) {
  padding-left: 18em;
}
.ql-editor li.ql-indent-6:not(.ql-direction-rtl) {
  padding-left: 19.5em;
}
.ql-editor .ql-indent-6.ql-direction-rtl.ql-align-right {
  padding-right: 18em;
}
.ql-editor li.ql-indent-6.ql-direction-rtl.ql-align-right {
  padding-right: 19.5em;
}
.ql-editor .ql-indent-7:not(.ql-direction-rtl) {
  padding-left: 21em;
}
.ql-editor li.ql-indent-7:not(.ql-direction-rtl) {
  padding-left: 22.5em;
}
.ql-editor .ql-indent-7.ql-direction-rtl.ql-align-right {
  padding-right: 21em;
}
.ql-editor li.ql-indent-7.ql-direction-rtl.ql-align-right {
  padding-right: 22.5em;
}
.ql-editor .ql-indent-8:not(.ql-direction-rtl) {
  padding-left: 24em;
}
.ql-editor li.ql-indent-8:not(.ql-direction-rtl) {
  padding-left: 25.5em;
}
.ql-editor .ql-indent-8.ql-direction-rtl.ql-align-right {
  padding-right: 24em;
}
.ql-editor li.ql-indent-8.ql-direction-rtl.ql-align-right {
  padding-right: 25.5em;
}
.ql-editor .ql-indent-9:not(.ql-direction-rtl) {
  padding-left: 27em;
}
.ql-editor li.ql-indent-9:not(.ql-direction-rtl) {
  padding-left: 28.5em;
}
.ql-editor .ql-indent-9.ql-direction-rtl.ql-align-right {
  padding-right: 27em;
}
.ql-editor li.ql-indent-9.ql-direction-rtl.ql-align-right {
  padding-right: 28.5em;
}
.ql-editor .ql-video {
  display: block;
  max-width: 100%;
}
.ql-editor .ql-video.ql-align-center {
  margin: 0 auto;
}
.ql-editor .ql-video.ql-align-right {
  margin: 0 0 0 auto;
}
.ql-editor .ql-bg-black {
  background-color: #000;
}
.ql-editor .ql-bg-red {
  background-color: #e60000;
}
.ql-editor .ql-bg-orange {
  background-color: #f90;
}
.ql-editor .ql-bg-yellow {
  background-color: #ff0;
}
.ql-editor .ql-bg-green {
  background-color: #008a00;
}
.ql-editor .ql-bg-blue {
  background-color: #06c;
}
.ql-editor .ql-bg-purple {
  background-color: #93f;
}
.ql-editor .ql-color-white {
  color: #fff;
}
.ql-editor .ql-color-red {
  color: #e60000;
}
.ql-editor .ql-color-orange {
  color: #f90;
}
.ql-editor .ql-color-yellow {
  color: #ff0;
}
.ql-editor .ql-color-green {
  color: #008a00;
}
.ql-editor .ql-color-blue {
  color: #06c;
}
.ql-editor .ql-color-purple {
  color: #93f;
}
.ql-editor .ql-font-serif {
  font-family: Georgia, Times New Roman, serif;
}
.ql-editor .ql-font-monospace {
  font-family: Monaco, Courier New, monospace;
}
.ql-editor .ql-size-small {
  font-size: 0.75em;
}
.ql-editor .ql-size-large {
  font-size: 1.5em;
}
.ql-editor .ql-size-huge {
  font-size: 2.5em;
}
.ql-editor .ql-direction-rtl {
  direction: rtl;
  text-align: inherit;
}
.ql-editor .ql-align-center {
  text-align: center;
}
.ql-editor .ql-align-justify {
  text-align: justify;
}
.ql-editor .ql-align-right {
  text-align: right;
}
.ql-editor.ql-blank::before {
  color: rgba(0, 0, 0, 0.6);
  content: attr(data-placeholder);
  font-style: italic;
  left: 15px;
  pointer-events: none;
  position: absolute;
  right: 15px;
}

.ql-snow {
  box-sizing: border-box;
}
.ql-snow.ql-toolbar:after, .ql-snow .ql-toolbar:after {
  clear: both;
  content: "";
  display: table;
}
.ql-snow.ql-toolbar button, .ql-snow .ql-toolbar button {
  background: none;
  border: none;
  cursor: pointer;
  display: inline-block;
  float: left;
  height: 24px;
  padding: 3px 5px;
  width: 28px;
}
.ql-snow.ql-toolbar button svg, .ql-snow .ql-toolbar button svg {
  float: left;
  height: 100%;
}
.ql-snow.ql-toolbar button:active:hover, .ql-snow .ql-toolbar button:active:hover {
  outline: none;
}
.ql-snow.ql-toolbar input.ql-image[type=file], .ql-snow .ql-toolbar input.ql-image[type=file] {
  display: none;
}
.ql-snow.ql-toolbar button:hover, .ql-snow .ql-toolbar button:hover, .ql-snow.ql-toolbar button:focus, .ql-snow .ql-toolbar button:focus, .ql-snow.ql-toolbar button.ql-active, .ql-snow .ql-toolbar button.ql-active, .ql-snow.ql-toolbar .ql-picker-label:hover, .ql-snow .ql-toolbar .ql-picker-label:hover, .ql-snow.ql-toolbar .ql-picker-label.ql-active, .ql-snow .ql-toolbar .ql-picker-label.ql-active, .ql-snow.ql-toolbar .ql-picker-item:hover, .ql-snow .ql-toolbar .ql-picker-item:hover, .ql-snow.ql-toolbar .ql-picker-item.ql-selected, .ql-snow .ql-toolbar .ql-picker-item.ql-selected {
  color: #06c;
}
.ql-snow.ql-toolbar button:hover .ql-fill, .ql-snow .ql-toolbar button:hover .ql-fill, .ql-snow.ql-toolbar button:focus .ql-fill, .ql-snow .ql-toolbar button:focus .ql-fill, .ql-snow.ql-toolbar button.ql-active .ql-fill, .ql-snow .ql-toolbar button.ql-active .ql-fill, .ql-snow.ql-toolbar .ql-picker-label:hover .ql-fill, .ql-snow .ql-toolbar .ql-picker-label:hover .ql-fill, .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-fill, .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-fill, .ql-snow.ql-toolbar .ql-picker-item:hover .ql-fill, .ql-snow .ql-toolbar .ql-picker-item:hover .ql-fill, .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-fill, .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-fill, .ql-snow.ql-toolbar button:hover .ql-stroke.ql-fill, .ql-snow .ql-toolbar button:hover .ql-stroke.ql-fill, .ql-snow.ql-toolbar button:focus .ql-stroke.ql-fill, .ql-snow .ql-toolbar button:focus .ql-stroke.ql-fill, .ql-snow.ql-toolbar button.ql-active .ql-stroke.ql-fill, .ql-snow .ql-toolbar button.ql-active .ql-stroke.ql-fill, .ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke.ql-fill, .ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke.ql-fill, .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke.ql-fill, .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke.ql-fill, .ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke.ql-fill, .ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke.ql-fill, .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke.ql-fill, .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke.ql-fill {
  fill: #06c;
}
.ql-snow.ql-toolbar button:hover .ql-stroke, .ql-snow .ql-toolbar button:hover .ql-stroke, .ql-snow.ql-toolbar button:focus .ql-stroke, .ql-snow .ql-toolbar button:focus .ql-stroke, .ql-snow.ql-toolbar button.ql-active .ql-stroke, .ql-snow .ql-toolbar button.ql-active .ql-stroke, .ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke, .ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke, .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke, .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke, .ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke, .ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke, .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke, .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke, .ql-snow.ql-toolbar button:hover .ql-stroke-miter, .ql-snow .ql-toolbar button:hover .ql-stroke-miter, .ql-snow.ql-toolbar button:focus .ql-stroke-miter, .ql-snow .ql-toolbar button:focus .ql-stroke-miter, .ql-snow.ql-toolbar button.ql-active .ql-stroke-miter, .ql-snow .ql-toolbar button.ql-active .ql-stroke-miter, .ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke-miter, .ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke-miter, .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter, .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter, .ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke-miter, .ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke-miter, .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter, .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter {
  stroke: #06c;
}
.ql-snow * {
  box-sizing: border-box;
}
.ql-snow .ql-hidden {
  display: none;
}
.ql-snow .ql-out-bottom, .ql-snow .ql-out-top {
  visibility: hidden;
}
.ql-snow .ql-tooltip {
  position: absolute;
  transform: translateY(10px);
}
.ql-snow .ql-tooltip a {
  cursor: pointer;
  text-decoration: none;
}
.ql-snow .ql-tooltip.ql-flip {
  transform: translateY(-10px);
}
.ql-snow .ql-formats {
  display: inline-block;
  vertical-align: middle;
}
.ql-snow .ql-formats:after {
  clear: both;
  content: "";
  display: table;
}
.ql-snow .ql-stroke {
  fill: none;
  stroke: #444;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2;
}
.ql-snow .ql-stroke-miter {
  fill: none;
  stroke: #444;
  stroke-miterlimit: 10;
  stroke-width: 2;
}
.ql-snow .ql-fill, .ql-snow .ql-stroke.ql-fill {
  fill: #444;
}
.ql-snow .ql-empty {
  fill: none;
}
.ql-snow .ql-even {
  fill-rule: evenodd;
}
.ql-snow .ql-thin, .ql-snow .ql-stroke.ql-thin {
  stroke-width: 1;
}
.ql-snow .ql-transparent {
  opacity: 0.4;
}
.ql-snow .ql-direction svg:last-child {
  display: none;
}
.ql-snow .ql-direction.ql-active svg:last-child {
  display: inline;
}
.ql-snow .ql-direction.ql-active svg:first-child {
  display: none;
}
.ql-snow .ql-editor h1 {
  font-size: 2em;
}
.ql-snow .ql-editor h2 {
  font-size: 1.5em;
}
.ql-snow .ql-editor h3 {
  font-size: 1.17em;
}
.ql-snow .ql-editor h4 {
  font-size: 1em;
}
.ql-snow .ql-editor h5 {
  font-size: 0.83em;
}
.ql-snow .ql-editor h6 {
  font-size: 0.67em;
}
.ql-snow .ql-editor a {
  text-decoration: underline;
}
.ql-snow .ql-editor blockquote {
  border-left: 4px solid #ccc;
  margin-bottom: 5px;
  margin-top: 5px;
  padding-left: 16px;
}
.ql-snow .ql-editor code {
  background-color: #f0f0f0;
  border-radius: 3px;
}
.ql-snow .ql-editor pre {
  background-color: #f0f0f0;
  border-radius: 3px;
  white-space: pre-wrap;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 5px 10px;
}
.ql-snow .ql-editor code {
  font-size: 85%;
  padding: 2px 4px;
}
.ql-snow .ql-editor pre.ql-syntax {
  background-color: #23241f;
  color: #f8f8f2;
  overflow: visible;
}
.ql-snow .ql-editor img {
  max-width: 100%;
}
.ql-snow .ql-picker {
  color: #444;
  display: inline-block;
  float: left;
  font-size: 14px;
  font-weight: 500;
  height: 24px;
  position: relative;
  vertical-align: middle;
}
.ql-snow .ql-picker-label {
  cursor: pointer;
  display: inline-block;
  height: 100%;
  padding-left: 8px;
  padding-right: 2px;
  position: relative;
  width: 100%;
}
.ql-snow .ql-picker-label::before {
  display: inline-block;
  line-height: 22px;
}
.ql-snow .ql-picker-options {
  background-color: #fff;
  display: none;
  min-width: 100%;
  padding: 4px 8px;
  position: absolute;
  white-space: nowrap;
}
.ql-snow .ql-picker-options .ql-picker-item {
  cursor: pointer;
  display: block;
  padding-bottom: 5px;
  padding-top: 5px;
}
.ql-snow .ql-picker.ql-expanded .ql-picker-label {
  color: #ccc;
  z-index: 2;
}
.ql-snow .ql-picker.ql-expanded .ql-picker-label .ql-fill {
  fill: #ccc;
}
.ql-snow .ql-picker.ql-expanded .ql-picker-label .ql-stroke {
  stroke: #ccc;
}
.ql-snow .ql-picker.ql-expanded .ql-picker-options {
  display: block;
  margin-top: -1px;
  top: 100%;
  z-index: 1;
}
.ql-snow .ql-color-picker, .ql-snow .ql-icon-picker {
  width: 28px;
}
.ql-snow .ql-color-picker .ql-picker-label, .ql-snow .ql-icon-picker .ql-picker-label {
  padding: 2px 4px;
}
.ql-snow .ql-color-picker .ql-picker-label svg {
  right: 4px;
}
.ql-snow .ql-icon-picker .ql-picker-label svg {
  right: 4px;
}
.ql-snow .ql-icon-picker .ql-picker-options {
  padding: 4px 0px;
}
.ql-snow .ql-icon-picker .ql-picker-item {
  height: 24px;
  width: 24px;
  padding: 2px 4px;
}
.ql-snow .ql-color-picker .ql-picker-options {
  padding: 3px 5px;
  width: 152px;
}
.ql-snow .ql-color-picker .ql-picker-item {
  border: 1px solid transparent;
  float: left;
  height: 16px;
  margin: 2px;
  padding: 0px;
  width: 16px;
}
.ql-snow .ql-picker:not(.ql-color-picker):not(.ql-icon-picker) svg {
  position: absolute;
  margin-top: -9px;
  right: 0;
  top: 50%;
  width: 18px;
}
.ql-snow .ql-picker.ql-header .ql-picker-label[data-label]:not([data-label=""])::before, .ql-snow .ql-picker.ql-font .ql-picker-label[data-label]:not([data-label=""])::before, .ql-snow .ql-picker.ql-size .ql-picker-label[data-label]:not([data-label=""])::before, .ql-snow .ql-picker.ql-header .ql-picker-item[data-label]:not([data-label=""])::before, .ql-snow .ql-picker.ql-font .ql-picker-item[data-label]:not([data-label=""])::before, .ql-snow .ql-picker.ql-size .ql-picker-item[data-label]:not([data-label=""])::before {
  content: attr(data-label);
}
.ql-snow .ql-picker.ql-header {
  width: 98px;
}
.ql-snow .ql-picker.ql-header .ql-picker-label::before, .ql-snow .ql-picker.ql-header .ql-picker-item::before {
  content: "Normal";
}
.ql-snow .ql-picker.ql-header .ql-picker-label[data-value="1"]::before, .ql-snow .ql-picker.ql-header .ql-picker-item[data-value="1"]::before {
  content: "Heading 1";
}
.ql-snow .ql-picker.ql-header .ql-picker-label[data-value="2"]::before, .ql-snow .ql-picker.ql-header .ql-picker-item[data-value="2"]::before {
  content: "Heading 2";
}
.ql-snow .ql-picker.ql-header .ql-picker-label[data-value="3"]::before, .ql-snow .ql-picker.ql-header .ql-picker-item[data-value="3"]::before {
  content: "Heading 3";
}
.ql-snow .ql-picker.ql-header .ql-picker-label[data-value="4"]::before, .ql-snow .ql-picker.ql-header .ql-picker-item[data-value="4"]::before {
  content: "Heading 4";
}
.ql-snow .ql-picker.ql-header .ql-picker-label[data-value="5"]::before, .ql-snow .ql-picker.ql-header .ql-picker-item[data-value="5"]::before {
  content: "Heading 5";
}
.ql-snow .ql-picker.ql-header .ql-picker-label[data-value="6"]::before {
  content: "Heading 6";
}
.ql-snow .ql-picker.ql-header .ql-picker-item[data-value="6"]::before {
  content: "Heading 6";
}
.ql-snow .ql-picker.ql-header .ql-picker-item[data-value="1"]::before {
  font-size: 2em;
}
.ql-snow .ql-picker.ql-header .ql-picker-item[data-value="2"]::before {
  font-size: 1.5em;
}
.ql-snow .ql-picker.ql-header .ql-picker-item[data-value="3"]::before {
  font-size: 1.17em;
}
.ql-snow .ql-picker.ql-header .ql-picker-item[data-value="4"]::before {
  font-size: 1em;
}
.ql-snow .ql-picker.ql-header .ql-picker-item[data-value="5"]::before {
  font-size: 0.83em;
}
.ql-snow .ql-picker.ql-header .ql-picker-item[data-value="6"]::before {
  font-size: 0.67em;
}
.ql-snow .ql-picker.ql-font {
  width: 108px;
}
.ql-snow .ql-picker.ql-font .ql-picker-label::before, .ql-snow .ql-picker.ql-font .ql-picker-item::before {
  content: "Sans Serif";
}
.ql-snow .ql-picker.ql-font .ql-picker-label[data-value=serif]::before, .ql-snow .ql-picker.ql-font .ql-picker-item[data-value=serif]::before {
  content: "Serif";
}
.ql-snow .ql-picker.ql-font .ql-picker-label[data-value=monospace]::before {
  content: "Monospace";
}
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=monospace]::before {
  content: "Monospace";
}
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=serif]::before {
  font-family: Georgia, Times New Roman, serif;
}
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=monospace]::before {
  font-family: Monaco, Courier New, monospace;
}
.ql-snow .ql-picker.ql-size {
  width: 98px;
}
.ql-snow .ql-picker.ql-size .ql-picker-label::before, .ql-snow .ql-picker.ql-size .ql-picker-item::before {
  content: "Normal";
}
.ql-snow .ql-picker.ql-size .ql-picker-label[data-value=small]::before, .ql-snow .ql-picker.ql-size .ql-picker-item[data-value=small]::before {
  content: "Small";
}
.ql-snow .ql-picker.ql-size .ql-picker-label[data-value=large]::before, .ql-snow .ql-picker.ql-size .ql-picker-item[data-value=large]::before {
  content: "Large";
}
.ql-snow .ql-picker.ql-size .ql-picker-label[data-value=huge]::before {
  content: "Huge";
}
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value=huge]::before {
  content: "Huge";
}
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value=small]::before {
  font-size: 10px;
}
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value=large]::before {
  font-size: 18px;
}
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value=huge]::before {
  font-size: 32px;
}
.ql-snow .ql-color-picker.ql-background .ql-picker-item {
  background-color: #fff;
}
.ql-snow .ql-color-picker.ql-color .ql-picker-item {
  background-color: #000;
}

@media (pointer: coarse) {
  .ql-snow.ql-toolbar button:hover:not(.ql-active), .ql-snow .ql-toolbar button:hover:not(.ql-active) {
    color: #444;
  }
  .ql-snow.ql-toolbar button:hover:not(.ql-active) .ql-fill, .ql-snow .ql-toolbar button:hover:not(.ql-active) .ql-fill, .ql-snow.ql-toolbar button:hover:not(.ql-active) .ql-stroke.ql-fill, .ql-snow .ql-toolbar button:hover:not(.ql-active) .ql-stroke.ql-fill {
    fill: #444;
  }
  .ql-snow.ql-toolbar button:hover:not(.ql-active) .ql-stroke, .ql-snow .ql-toolbar button:hover:not(.ql-active) .ql-stroke, .ql-snow.ql-toolbar button:hover:not(.ql-active) .ql-stroke-miter, .ql-snow .ql-toolbar button:hover:not(.ql-active) .ql-stroke-miter {
    stroke: #444;
  }
}
.ql-toolbar.ql-snow {
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  padding: 8px;
}
.ql-toolbar.ql-snow .ql-formats {
  margin-right: 15px;
}
.ql-toolbar.ql-snow .ql-picker-label {
  border: 1px solid transparent;
}
.ql-toolbar.ql-snow .ql-picker-options {
  border: 1px solid transparent;
  box-shadow: rgba(0, 0, 0, 0.2) 0 2px 8px;
}
.ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-label, .ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-options {
  border-color: #ccc;
}
.ql-toolbar.ql-snow .ql-color-picker .ql-picker-item.ql-selected, .ql-toolbar.ql-snow .ql-color-picker .ql-picker-item:hover {
  border-color: #000;
}
.ql-toolbar.ql-snow + .ql-container.ql-snow {
  border-top: 0px;
}

.ql-snow .ql-tooltip {
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 5px #ddd;
  color: #444;
  padding: 5px 12px;
  white-space: nowrap;
}
.ql-snow .ql-tooltip::before {
  content: "Visit URL:";
  line-height: 26px;
  margin-right: 8px;
}
.ql-snow .ql-tooltip input[type=text] {
  display: none;
  border: 1px solid #ccc;
  font-size: 13px;
  height: 26px;
  margin: 0px;
  padding: 3px 5px;
  width: 170px;
}
.ql-snow .ql-tooltip a {
  line-height: 26px;
}
.ql-snow .ql-tooltip a.ql-preview {
  display: inline-block;
  max-width: 200px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
}
.ql-snow .ql-tooltip a.ql-action::after {
  border-right: 1px solid #ccc;
  content: "Edit";
  margin-left: 16px;
  padding-right: 8px;
}
.ql-snow .ql-tooltip a.ql-remove::before {
  content: "Remove";
  margin-left: 8px;
}
.ql-snow .ql-tooltip.ql-editing a.ql-preview, .ql-snow .ql-tooltip.ql-editing a.ql-remove {
  display: none;
}
.ql-snow .ql-tooltip.ql-editing input[type=text] {
  display: inline-block;
}
.ql-snow .ql-tooltip.ql-editing a.ql-action::after {
  border-right: 0px;
  content: "Save";
  padding-right: 0px;
}
.ql-snow .ql-tooltip[data-mode=link]::before {
  content: "Enter link:";
}
.ql-snow .ql-tooltip[data-mode=formula]::before {
  content: "Enter formula:";
}
.ql-snow .ql-tooltip[data-mode=video]::before {
  content: "Enter video:";
}
.ql-snow a {
  color: #06c;
}

.ql-container.ql-snow {
  border: 1px solid #ccc;
}

.post {
  min-height: 40vh;
  width: 100%;
}
.post__title {
  text-align: center;
  margin: 20px 0;
  text-align: center;
  font-family: var(--font-regular);
  font-size: 18px;
  color: #555;
}
.post__sidebar {
  top: 90px;
}
.post__editor {
  font-family: var(--font-regular);
  margin-bottom: 30px;
  font-size: 16px;
}
.post__container {
  position: relative;
  margin: 0 auto;
  width: 90%;
}
.post__btn {
  text-decoration: none;
  display: flex;
  align-items: center;
  font-family: var(--font-bold);
  color: var(--color-second);
  font-size: 14px;
  border-radius: 5px;
  border: none;
  background: #ebe9e9;
  padding: 8px;
  margin-bottom: 10px;
  cursor: pointer;
}
.post__btn--disabled {
  pointer-events: none;
}
.post__btn--down {
  position: absolute;
  top: 44px;
  left: 16px;
}
.post__btn-dot {
  width: 8px;
  height: 8px;
  margin: 0 5px;
  border-radius: 50%;
  background: #d40000;
}
.post__btn-dot--unlock {
  background: #00c421;
}
.post__row {
  height: 45px;
  padding: 5px;
  width: 320px;
  margin: 0 auto;
}
.post__input {
  width: 100%;
  height: 100%;
  text-align: center;
  margin: 20px 0;
  text-align: center;
  font-family: var(--font-regular);
  font-size: 18px;
  color: #555;
  border-radius: 5px;
  border: none;
}
.post__cat {
  width: 100%;
  height: 100%;
  text-align: center;
  margin: 20px 0;
  text-align: center;
  font-family: var(--font-regular);
  font-size: 18px;
  color: #555;
  border-radius: 5px;
  border: none;
}

.register__body {
  background: url("../img/bg.png") top center/cover;
}
.register__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 400px;
  min-height: 250px;
  margin: 0 auto;
  padding-top: 50px;
}
.register__wrapper--min {
  padding-top: 20px;
  min-height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.register__btn {
  padding: 5px 10px;
  border: none;
  background: #fff;
  border-radius: 5px;
  transition: 0.5s;
  height: 40px;
  font-family: var(--font-regular);
  color: var(--color-second);
}
.register__btn:hover {
  cursor: pointer;
  background: var(--color-second);
  color: #fff;
}
.register__title {
  text-align: center;
  padding-top: 40px;
  color: #fff;
  font-family: var(--font-regular);
}
.register__input {
  width: 100%;
  height: 30px;
  border-radius: 5px;
  border: none;
  padding: 5px 10px;
  font-family: var(--font-regular);
}

/*# sourceMappingURL=style.css.map */
