.blog
  position: relative
  min-height: 100vh
  width: 100%
  padding: 20px 10px 0 10px
  +media(928px)
    padding: 20px 0 0 0 
  &__item
    display: flex
    align-items: center
    justify-content: space-between
    width: 100%
    padding: 5px
    margin: 10px 0
  &__del
    border: none
    background: transparent
    color: #bfbfbf
    font-family: var(--font-bold)
    &:hover
      color: #fc0013
      cursor: pointer

  &__overlay
    position: absolute
    top: -200px
    left: 0
    width: 100%
    min-height: 540vh
    background: #000000a6
    transition: .6s
    opacity: 0
    visibility: hidden
    // z-index: -2
    &--active
      opacity: 100%
      visibility: visible
      z-index: 2
  &__sidebar
    position: absolute
    top: -60px
    left: 0
    width: 70%
    height: 600px
    overflow-y: scroll
    background: var(--color-btn)
    border-top-right-radius: 15px
    border-bottom-right-radius: 15px
    border: 5px solid rgba(27, 255, 255, 0.267)
    border-left: none
    padding: 5px
    transition: all 0.6s
    transform: translateX(-98%)
    +media(928px)
      width: 35%
    &--mix
      top: 80px
    &--active
      transform: translateX(0)
      z-index: 3
  &__list
    display: flex
    justify-content: flex-start
    list-style-type: none
    flex-wrap: wrap
    margin: 0
    padding: 0
  &__posts
    padding-top: 20px
  &__post
    position: relative
    display: flex
    flex-direction: column
    justify-content: space-between
    flex: 1 1 95%
    border-radius: 8px
    -webkit-box-shadow: 2px 1px 11px 1px rgba(0,0,0,0.2)
    -moz-box-shadow: 2px 1px 11px 1px rgba(0,0,0,0.2)
    box-shadow: 2px 1px 11px 1px rgba(0,0,0,0.2)
    min-height: 300px
    margin: 0 10px
    margin-bottom: 80px
    +media(598px)
      flex: 1 1 43%
    +media(928px)
      flex: 0 1 23%
  &__head
    position: absolute
    top: -40px
    left: 0
    right: 0
    margin: 0 auto
  &__pin
    margin: 0 auto
    width: 10px
    height: 10px
    border-radius: 50%
    // background: red
  &__category
    font-family: var(--font-bold)
    font-size: 14px
    padding: 4px
    text-align: center
    height: 28px
    overflow: hidden
    width: 90%
    border-top-left-radius: 15px
    border-top-right-radius: 15px
    margin: 0 auto
    color: var(--color-second)
    background: #e2dede
  &__info
    text-align: left
    width: 90%
    margin: 0 auto
    // border: 1px solid green
  &__wrap
    display: flex
    justify-content: space-between
    width: 90%
    margin: 0 auto
  &__text
    font-family: var(--font-regular)
    font-size: 14px
    color: #585858
    max-height: 250px
    max-width: 240px
    overflow: hidden
  &__sticky
    width: 100%
    height: 30px
    margin-bottom: 10px
    background: #e2dede
    padding: 5px
    color: #00000000
  &__btn
    cursor: pointer
    font-family: var(--font-bold)
    font-size: 14px
    color: #4e4e4e93
    border: none
  &__link
    text-decoration: none
  &__row
    margin-top: 10px
    position: relative
    height: 30px
    display: flex
    justify-content: center
    margin-bottom: 40px
    &::before
      position: absolute
      content: ''
      bottom: -25px
      left: 0
      right: 0
      height: 2px
      margin: 0 auto
      border-radius: 10px
      background: var(--color-border)
      width: 60%
    &::after
      position: absolute
      content: ''
      top: 35px
      left: 0
      right: 0
      height: 2px
      margin: 0 auto
      border-radius: 10px
      background: var(--color-border)
      width: 80%
  &__input
    border: none
    color: #555
    border-top-left-radius: 5px
    border-bottom-left-radius: 5px
    padding-right: 5px
    width: 70%
  &__search
    &-bar
      list-style-type: none
      border-bottom: 1px solid #bfbfbf
      padding: 15px 0
      text-align: center
    &_btn
      border: none
      width: 90%
      height: 30px
      margin: 0 auto
      border-radius: 5px
      cursor: pointer
  &__btn
    color: var(--color-second)
    border: none
    border-top-right-radius: 5px
    border-bottom-right-radius: 5px
    font-family: var(--font-bold)
    font-size: 12px
    margin-left: 3px
    padding: 5px
  &__cat
    cursor: pointer
    color: #555
    margin: 5px 0
    &:hover
      color: var(--color-second)
  & img
    width: 100%
    height: 100%
    object-fit: cover
    text-align: center