.header
  position: relative
  transition: 0.6s
  width: 100%
  &--hide
    transform: translateY(-110px)
    height: 40px
  &__container
    height: 100px
    //width: 100%
    display: flex
    align-items: center
    justify-content: space-between
    border-bottom-left-radius: 15px
    border-bottom-right-radius: 15px
    padding: 5px 22px 5px 5px
    -webkit-box-shadow: 6px 1px 11px 8px rgba(0,0,0,0.2)
    -moz-box-shadow: 6px 1px 11px 8px rgba(0,0,0,0.2)
    box-shadow: 6px 1px 11px 8px rgba(0,0,0,0.2)
  &__logo
    width: 90px
    height: 90px
    margin: 0 5px
  &__img
    width: 100%
    height: 100%
  &__wrapper
    display: flex
    align-items: center
  &__form-wrapper
    display: flex
    align-items: center
    justify-content: flex-end
    width: 100%
  &__form
    width: 90%
    margin: 0
    padding: 0
    display: flex
    align-items: center
    justify-content: flex-end
  &__wrap
    position: relative
    display: none
    align-items: center
    background: var(--color-btn)
    justify-content: space-between
    border: 4px solid #f8f8f8
    border-radius: 5px
    height: 50px
    width: 90%
    -webkit-box-shadow: -7px 16px 15px -18px rgba(0,0,0,0.21)
    -moz-box-shadow: -7px 16px 15px -18px rgba(0,0,0,0.21)
    box-shadow: -7px 16px 15px -18px rgba(0,0,0,0.21)
    +media(728px)
      display: flex
  &__searchbar
    position: absolute
    visibility: hidden
    opacity: 0
    top: 48px
    left: 0
    right: 0
    z-index: 2
    margin: 0 auto
    width: 100%
    height: 0
    background: var(--color-btn)
    border-bottom-left-radius: 5px
    border-bottom-right-radius: 5px
    border: 4px solid rgba(27, 255, 255, 0.267)
    border-top: none
    transition: 0.6s
    &--active
      min-height: 40vh
      opacity: 100%
      visibility: visible
  &__btn
    height: 42px
    border: none
    font-family: var(--font-bold)
    color: var(--color-second)
    background: #f8f8f8
    cursor: pointer
    &--round
      width: 80px
      height: 80px
      border-radius: 50%
      padding: 7px
      border: none
      font-family: var(--font-bold)
      background: #f8f8f8
      margin: 0 5px
      -webkit-box-shadow: -7px 16px 15px -18px rgba(0,0,0,0.21)
      -moz-box-shadow: -7px 16px 15px -18px rgba(0,0,0,0.21)
      box-shadow: -7px 16px 15px -18px rgba(0,0,0,0.21)
      &:disabled
        background: #ebebeb
        color: #7a7a7a
        cursor: not-allowed
  &__input
    width: 90%
    height: 100%
    border: none
    font-family: var(--font-regular)
    font-size: 14px
    color: var(--color-second)
    padding: 2px 10px
    border-top-left-radius: 5px
    border-bottom-left-radius: 5px
    background: var(--color-btn)
  &__scroll
    display: block
    margin: 0 auto
    background: var(--color-sticker)
    border: none
    padding: 15px 60px
    border-bottom-right-radius: 40px
    border-bottom-left-radius: 40px
    color: var(--color-second)
    font-family: var(--font-regular)
    text-shadow: 4px 4px 7px #ffffff9c
    cursor: pointer
  &__burger
    margin-right: 20px
